model_config_list {
  config {
    name: 'sepsis'
    base_path: '../sepsis_pipeline'
    model_platform: 'tensorflow'

    model_version_policy {
        specific {
            versions: 1658326344
            versions: 1658326734
            versions: 1658326835
          }
        }
    version_labels {
        key: 'deprecated'
        value: 1658326344
    }
    version_labels {
        key: 'stable'
        value: 1658326734
    }
    version_labels {
        key: 'canary'
        value: 1658326835
    }
  }
}